{% load staticfiles %}
{% load bootstrap %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>Geo-Con</title>
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}" media="screen" >
	<link rel="stylesheet" href="{% static "css/main.css" %}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				 <div style="text-align:center;"><font color="white" size="60" face="Montez">Geo-Con</font></div>	
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#">Home</a></li>
					<li class=""><a href="/user/register/">Sign Up</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="">CONNECT, SHARE, TRAVEL</h1><br>
				<h4><font color='#FFFFFF'>{{ error }}</font><h4>
				<p class="tagline"><h4>Log In Now!</h4><br>
					<div style="width:250px; margin: 0 auto;">
					<form action="/auth/" method="post">{% csrf_token %}
                        <input type="text" id="username"  name="username" class="form-control input-hg" placeholder="Username"><br>
                        <input type="password" id="password"  name="password" class="form-control input-hg" placeholder="Password"><br>
                        <input class="btn btn-default" type="submit" id="submit" method="submit" value="Log In"><br><br>
                </form>
            </div>
				
				</p>
				<p>
					<h4>Or Sign In with your GOOGLE account</h4>
					<a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="btn btn-action btn-lg" role="button">Google Sign In</a>
				<br>
				</p>
				<br>
				<p>
					Or register the classic way!<br>
					<a href="/user/register/">Sign Up</a>
				</p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Discover</h2>
		<p class="text-muted">
			Geo-Con gives a platform to explore, share and connect with people interested in traveling and exploring new places. It gives us information which we will not find anywhere else and hence helps you in reaching out to places you never knew about.
		</p>
	</div>
	<!-- /Intro-->
		
	<!-- Highlights - jumbotron -->
	
	<!-- /Highlights -->

	<!-- container -->

	



	<footer id="footer" class="top-space">

		

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Home</a> | 
								<b><a href="/user/register/">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Geo-Con | Designed and Maintained by <font color="white">devAlpha</font>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static "js/headroom.min.js" %}"></script>
	<script src="{% static "js/jQuery.headroom.min.js" %}"></script>
	<script src="{% static "js/template.js" %}"></script>
</body>
</html>